-# in _header_form.html.haml (the partial)
.container
  .row
    .col-md-6
      -#= render :partial => 'logo_form'
      %img{:src=>"https://www.brokerstudio.it/wp-sito/wp-content/themes/shotzz/sprites/i/logo-broker.png"}
    .col-md-6
      %p 
      %p
      %p
      -#%p Benvenuto in <span class="questionaries">Questionaries</span>, #{request.env['REMOTE_USER']} 
    