-# This form is not used!!!

%form.form-horizontal{:role => "form"}
  .form-group
    %label.col-sm-2.control-label{:for => "inputEmail3"} Name
    .col-sm-10
      %input#inputEmail3.form-control
  .form-group
    %label.col-sm-2.control-label{:for => "inputPassword3"} Address
    .col-sm-10
      %input#inputPassword3.form-control
  .form-group
    %label.col-sm-2.control-label{:for => "inputPassword3"} VAT Number
    .col-sm-10
      %input#inputPassword3.form-control    
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Remember me
  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-primary{:type => "submit"} Submit