.container
  %h3 Accident and Illness
.container.forminfo
  %h4.bg-info-1 The following questions are related to the person to be insured.
  
.container
  =render :partial => 'personaldata_form'
 
 
%p
  = link_to "Cancel", policies_path 