.container
  %h3 Accident and Illness
.container.forminfo
  %h4.bg-info The following questions are related to the person to be insured.
.container
  =render :partial => 'personal_simpleform'
 
 
%p
  = link_to "Cancel", policies_path 