-#  This file is app/views/policyholders/edit.html.haml
-#.header
  =render :partial => 'shared/header_form'
  
.container
  =render :partial => 'form'

  %p= link_to t("defaults.cancel"), policies_path, class: "btn btn-primary btn-sm"