-#  This file is app/views/policyholders/new.html.haml
-#=render :partial => 'shared/navbar_header' 
        
.container
  =render :partial => 'form'
     
  %p= link_to "Cancel", policyholders_path, class: "btn btn-primary btn-sm"
  