-#  This file is app/views/policyholders/new.html.haml
.header
  =render :partial => 'header_form'
  
.nav
  .container
    %ul.pull-left
      %li.active
        = link_to 'Home', policies_path
      %li
        -#= link_to 'New Policy', new_policy_path 
      %li
        = link_to 'Policyholders', policyholders_path    
    %ul.pull-right
      %li
        %a{:href => "#"} Profile
      %li
        %a{:href => "#"} Log Out
      %li
        %a{:href => "#"} Help  
        
.container-fluid
  =render :partial => 'form'
     
%p
  = link_to "Cancel", policyholders_path 
  