-#  This file is app/views/policyholders/new.html.haml
-#=render :partial => 'shared/navbar_header' 
        
.container
  =render :partial => 'form'
  
   
  %p= link_to t("defaults.cancel"), policies_path, class: "btn btn-primary btn-sm"
  
